# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.factorypath

# idea
out
*.ipr
*.iws
*.iml
.idea
*.jar

# gradle
build

.gradle

# other
gradle
eclipse
run
server
logs

# Files from Forge MDK
forge-changelog.txt
forge-LICENSE.txt
forge-README.txt
forge-CREDITS.txt

/Users/
/src/test/
/src//java/ca/skynetcloud/cybercore/
